include ../carousel/carousel.pug

mixin roomCard(options)
  - const {number, isLux, price, rate, images, recallsAmount} = options || {};
  .room-card
    +carousel(images)(class="room-card__carousel")
    .room-card__info 
      .room-card__info-row
        .room-card__info-item
          p.room-card__room-number № 
            span.room-card__room-number-value #{number}
          span.room-card__isLux #{isLux ? 'люкс' : ''}
        .room-card__info-item  
          span.room-card__info-price #{price}₽ 
          span.room-card__info-determination  в сутки
      .room-card__info-devider
      .room-card__info-row
        .room-card__info-rating
          - for (var x = 0; x < 5; x++)
            if x < rate 
              img(src=require ("../../assets/svg/star.svg"), alt="star")
            else 
              img(src=require ("../../assets/svg/star_border.svg"), alt="star-border")
        .room-card__recalls 
          span.room-card__recalls-value #{recallsAmount}
          span.room-card__recalls-text Отзывов
