style 
  include buttons.css
mixin textButton(text)
  button.text-button(class!= attributes.class)= text

mixin iconButton(iconPath, alt)
  button.text-button(class!= attributes.class) 
    img.calendar__prew-month(src=iconPath, alt=alt)
        
mixin outlinedButton(text, href)
  a.outlined-button(class!= attributes.class, role="button", href!= href)= text

mixin filledButton(text, href)
  a.filled-button(class!= attributes.class, role="button", href!= href)= text
