style 
  include buttons.css
mixin textButton(text)
  button.text-button(class!= attributes.class)= text

mixin iconButton(iconPath, alt)
  button.text-button(class!= attributes.class) 
    img.calendar__prew-month(src=iconPath, alt=alt)
        
mixin outlinedButton(text)
  button.outlined-button(class!= attributes.class)= text

mixin filledButton(text)
  button.filled-button(class!= attributes.class)= text
