
mixin carousel() 
  .swiper(class!= attributes.class) 
    .swiper-wrapper 
      .swiper-slide 
        img(src=require("../../assets/img/rooms/888.jpg"), alt="")
      .swiper-slide 
        img(src=require("../../assets/img/rooms/888.jpg"), alt="")
      .swiper-slide 
        img(src=require("../../assets/img/rooms/888.jpg"), alt="")
      .swiper-slide 
        img(src=require("../../assets/img/rooms/888.jpg"), alt="")
      .swiper-slide 
        img(src=require("../../assets/img/rooms/888.jpg"), alt="")

    .arrow-button-prev
      img(src=require("../../assets/svg/swiper_prev.svg"), alt="") 
    .arrow-button-next
      img(src=require("../../assets/svg/swiper_next.svg"), alt="") 
    .swiper-pagination.swiper__pagination
    //- .swiper-button-prev
  script 
    include carousel.js 

